.references {
  position: fixed;
  top: 10px;
  right: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  background-color: rgba(240, 255, 240, 0.8); /* Pastel green background */
  padding: 10px;
  padding-top: 15px;
  margin-top: 5px;
  border-radius: 12px;
  box-shadow:
    0 1px 1px hsl(0deg 0% 0% / 0.075),
    0 2px 2px hsl(0deg 0% 0% / 0.075),
    0 4px 4px hsl(0deg 0% 0% / 0.075),
    0 8px 8px hsl(0deg 0% 0% / 0.075),
    0 16px 16px hsl(0deg 0% 0% / 0.075);
  z-index: 1000;
  border: 2px solid black;
}

.reference-icon {
  color: white; /* Pastel yellow color */
  font-size: 28px;
  transition: transform 0.3s;
}

.reference-icon:hover {
  transform: scale(1.2);
  color: rgb(255, 142, 159, 0.8);
}

.reference-icon:active {
  transform: scale(1.1);
}

.references::before {
  content: "";
  width: 60%;
  position: absolute;
  height: 1rem;
  display: block;
  box-shadow: 0px 1px 2px rgba(253, 252, 165, 0.08);
  background: #c9e9d2;
  border-bottom-right-radius: 2px;
  transform: skew(6deg) rotateZ(-1deg);
  border-radius: 6px/14px 0;
  z-index: 2;
  opacity: 0.8;
  top: -0.5rem;
  margin-left: -20%;
  left: 40%;
}

/* Media Queries for Mobile Devices */
@media (max-width: 768px) {
  .references {
    top: auto;
    bottom: 10px;
    right: 10px;
    flex-direction: row;
    gap: 5px;
    padding: 5px;
  }

  .reference-icon {
    font-size: 24px;
  }
}

